# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=eloan_tapera
DB_USER=root
DB_PASSWORD=

# JWT
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRES_IN=24h

# BP Tapera API
TAPERA_BASE_URL=https://apidev.tapera.go.id:8443
TAPERA_CLIENT_ID=your-client-id
TAPERA_CLIENT_SECRET=your-client-secret
TAPERA_KODE_MITRA=11111001
TAPERA_CHANNEL=WEB
